<h5 class="header center black-text" style="font-family: 'Merriweather', serif; text-shadow: 1px 1px 2px #4e4e4e;">Update hour:</h5>
<form action="{{ path_for('hours.edit') }}" method="post" autocomplete="off">
    <div class="row">
        <div class="input-field col s12">
            <label for="value" data-error="{{ validation_errors.value ? validation_errors.value | first : " "  }}">Day + hours (Swedish)</label>
            <input type="text" name="value" id="value" class="validate{{ validation_errors.value ? " invalid" : " " }}" value="{{hour.value}}">
        </div>
        <div class="input-field col s12">
            <label for="value_en" data-error="{{ validation_errors.value_en ? validation_errors.value_en | first : " "  }}">Day + hours (English)</label>
            <input type="text" name="value_en" id="value_en" class="validate{{ validation_errors.value_en ? " invalid" : " " }}" value="{{hour.value_en}}">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light blue darken-2">
                Update<i class="material-icons right">send</i>
            </button>
        </div>
    </div>
    <input type="hidden" name="hour_id" value="{{ hour.id }}">
    {{ csrf.field | raw }}
</form>
<form action="{{ path_for('hours.delete') }}" method="post">
    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <button type="submit" class="btn waves-effect waves-light red darken-2">
                    Delete<i class="material-icons right">delete</i>
                </button>
            </div>
        </div>
        <input type="hidden" name="hour_id" value="{{ hour.id }}">
    </div>
    {{ csrf.field | raw }}
</form>
