{% extends 'admin/base_admin.twig' %}

{% block content %}
    <h2 class="header center black-text" style="font-family: 'Merriweather', serif; text-shadow: 1px 1px 2px #4e4e4e;" data-translatable>Change password</h2>

    <div class="row">
        <div class="col s12 m8 l4 push-m2 push-l4 z-depth-3 card-panel">
            <form action="{{ path_for('password.change') }}" method="post" autocomplete="off">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="password" name="password_old" id="password_old" class="validate{{ validation_errors.password_old ? " invalid" : " " }}">
                        <label for="password_old" data-error="{{ validation_errors.password_old ? validation_errors.password_old | first : " "  }}">Current Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="password" data-error="{{ validation_errors.password ? validation_errors.password | first : " "  }}">New Password</label>
                        <input type="password" name="password" id="password" class="validate{{ validation_errors.password ? " invalid" : " " }}">

                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button type="submit" class="btn waves-effect waves-light">
                            Change password<i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
                {{ csrf.field | raw }}
            </form>
        </div>
    </div>
{% endblock %}
